.container-small {
    display: flex;
    flex-direction: row;
    padding: 1.8rem 1.5rem;
}

.table-palette {
    border-spacing: 4px; 
    border-collapse: separate;
    padding: 3rem;
    margin: auto;
}

