* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    background-color: $main-background-color;
}

.container {
    max-width: 67rem;
    padding: 1.96rem 1.5rem;
    background-color: $alternative-background-color;
    margin: 0 auto;
    border-right: 3px dashed $main-font-color;
}

img {
    max-width: 100%;
}

ol, ul {
    padding-left: 1.5em;
}
