.header, .site-header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: $main-background-color;
    border-bottom: 1px solid $main-font-color;
}

/* Navbar */
.nav {
    a {
        font-size: 1.1rem;
        text-decoration: none;
        padding: 1.9rem 0;
        color: $main-font-color;
        text-transform: uppercase;
    }

    a:hover {
        border-bottom: 2px solid $accent-color;
    }

    .active a {
        background-color: $accent-color;
        color: $main-background-color;
    }
}

/* Title */
.title, .logo {
    padding: 1em;
}

.title * {
    color: $main-font-color;
    margin: 0 2rem;
    font-family: $special-font;
    text-decoration: none;
}


