.header, .site-header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
}

.header {
    background-color: $site-header-background-color;
}

/* Navbar */
.nav {
    a {
        font-weight: bold;
        font-size: 1.7rem;
        text-decoration: none;
        padding: 0 1.7rem;
        color: $navbar-header-font-color;
    }

    a:hover {
        border-bottom: 4px solid $navbar-hover-border;
    }

    .active a {
        border-bottom: 4px solid $navbar-active-border;
    }
}

/* Title */
.title, .logo {
    padding: 3em;
}

.title * {
    color: $title-site-font-color;
}

.title p {
    font-style: italic;
}
