.header, .site-header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: $main-background-color;
    border-bottom: 3px dashed $main-font-color;
}

/* Navbar */
.nav {
    a {
        font-size: 1.1rem;
        text-decoration: none;
        padding: 1.9rem 0;
        color: $main-font-color;
        text-transform: uppercase;
        transition: color 0.3s, border-bottom 0.3s, letter-spacing 0.3s;
    }

    a:hover {
        border-bottom: 2px solid $accent-color;
        color: $accent-color;
        letter-spacing: 4px;
    }
    
    .active a {
        font-weight: 700;
        color: $accent-color;
        letter-spacing: 4px;
    }
}

/* Title */
.title, .logo {
    padding: 1em;
}

.title * {
    color: $main-font-color;
    margin: 0 2rem;
    font-family: $special-font;
    text-decoration: none;
}


