@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville&family=Yeseva+One&display=swap');

$main-font: 'Josefin Sans', sans-serif;
$header-font: 'Libre Baskerville', serif;
$special-font: 'Yeseva One', serif;

$main-font-color: #423300;
$paragraph-font-size: 1.25rem;
@mixin paragraph-font-size-and-color {
    font-size: $paragraph-font-size;
    color: $main-font-color;
}

$accent-color: #610A71;

$note-background-color: #8CF5D6;

$main-background-color: #F2C23F;
$alternative-background-color: #FFF7E0;
